def profile(request):
    user_email = request.session.get('email')
    if user_email:
        user = CustomUser.objects.get(userEmail=user_email)
        if user:
            user_profile, created = UserProfile.objects.get_or_create(user=user)
            followers_count = user_profile.followers.count()

            # Calculate average rating for the user's blogs
            avg_rating = Rating.objects.filter(blog_id__user_id=user).aggregate(avg_rating=Avg('ratingValue'))['avg_rating']

            return render(request, 'profile.html', {'user': user, 'followers_count': followers_count, 'avg_rating': avg_rating})
        else:
            # Handle the case where the user doesn't exist
            return HttpResponse("User not found.")
    else:
        return redirect('login')
